/* Main */

body{
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}

h1{
    color: white;
    font-size: 2.5vmax;
    text-shadow: 2.5px 2.5px 2.5px black;
    display: grid;
    align-self: end;
    justify-self: center;
}

/* Slash Screen */

.splash{
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #071277;
    z-index: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 2fr;
    grid-gap: 2vmax;
    grid-template-areas: 
        "header"
        "image"
        "load";
}

.titlecard{
    grid-area: image;
    width: 50vmax;
    justify-self: center;
    align-self: start;
}

.load-game{
    width: 25vmax;
    height: 5vmax;
    align-self: start;
    justify-self: center;
    font-family: Impact, sans-serif;
    font-size: 2.5vw;
    color: #FBA537;
    text-shadow: 5px 3px 1.5px black;
    cursor:pointer;
    background-color: transparent;
    border: solid .5vmax #FBA537;
}

.load-game:hover{
    color: white;
    border: solid 5px white;
}

/* Grid */

.grid-container{
    position: fixed;
    width: 99vw;
    height: 98vh;
    left: .5vw;
    top: 1vh;
    overflow:auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: stretch;
    align-items: stretch;
    gap: .5vmax;
    z-index: 0;
}

.grid-container > div{
    background-color: #071277;
}


.category{
    grid-row: 1;
    margin: 0px 0px .25vmax 0px;
}

.one{
    grid-row: 2;
}

.two{
    grid-row: 3;
}

.three{
    grid-row: 4;
}

.four{
    grid-row: 5;
}

.five{
    grid-row: 6;
}


/* Grid Elements */

.category{
    font-size: 2vmax;
    text-transform: uppercase;
    font-family: Impact, sans-serif;
    color: white;
    display: flex;
    letter-spacing: .05rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 2px;
    grid-row: 1;
    overflow: hidden;
    text-shadow: 5px 3px 1.5px black;
}

.question{
    font-family: Impact, sans-serif;
    font-size: 2.5vw;
    color: #d69f4c;
    text-shadow: 5px 3px 1.5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.question:hover{
    color:white;
}