/* Main */

body{
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #071277;
}

/* Intro Splash Screen */

.intro-splash{
    background-color: #071277;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 40vh 20vh 30vh;
    grid-template-areas: 
        ". message ."
        "titlecard titlecard titlecard"
        "loadbutton randombutton buzztoggle"
        ". randomtext players";
}

.intro-splash > *{
    place-self: center;
}

.splash-message{
    grid-area: message;
    color: white;
    font-size: 2vmax;
    font-weight: bolder;
    text-shadow: 2.5px 2.5px 2.5px black;
    place-self: center;
    text-align: center;
}

.titlecard{
    grid-area: titlecard;
    place-self: center;
    width: 50vmax;
}

.intro-splash > button{
    font-family: Impact, sans-serif;
    font-size: 2vmax;
    color: #FBA537;
    text-shadow: 5px 3px 1.5px black;
    cursor:pointer;
    background-color: transparent;
    border: solid .3vmax #FBA537;
    height: 7vh;
    width: 15vw;
}

.intro-splash > button:hover{
    color: white;
    border: solid .3vmax white;
}

.load-game{
    grid-area: loadbutton;
}

.random-button{
    grid-area: randombutton;
}

.random-info{
    grid-area: randomtext;
    color: white;
    height: 3.5vh;
    font-size: 1vmax;
    text-shadow: 2.5px 2.5px 2.5px black;
    align-self: start;
    text-align: center;
}

.buzz-toggler{
    grid-area: buzztoggle;
    font-family: Impact, sans-serif;
    text-shadow: 2.5px 2.5px 2.5px black;
    font-size: 2vmax;
    color: #FBA537;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5c5c5c;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #FBA537;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FBA537;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.custom-names-container{
    display: none;
    align-self: start;
    grid-area: players;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,4vh);
}

.custom-input{
    max-width: 100%;
    grid-column: 2;
    border: 0;
    background-color: transparent;
    place-self: center;
    color: white;
    font-size: 1vmax;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.custom-name{
    grid-column: 1;
    place-self: center ;
    text-align: end;
    color: white;
    font-size: 1vmax;
    text-shadow: 2px 2px 2px black;
}

/* GAME SPLASH SCREEN */

.game-splash{
    background-color: #071277;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

.game-splash > button{
    font-family: Impact, sans-serif;
    font-size: 2vmax;
    color: #FBA537;
    text-shadow: 5px 3px 1.5px black;
    cursor:pointer;
    background-color: transparent;
    border: solid .3vmax #FBA537;
    height: 7vh;
    width: 15vw;
}

.game-splash > button:hover{
    color: white;
    border: solid .3vmax white;
}


/* LOAD GAMES SCREEN */

.load-games-screen{
    z-index: -10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #071277;
    display: grid;
    grid-template-columns: 10vw 90vw;
    gap: 1vw;
}

.season-container{
    justify-self: stretch;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    overflow: scroll;
}

.season-entry{
    padding-right: 1vw;
    text-align: end;
    color: white;
    font-size: 1.5vmax;
    cursor:pointer;
    background-color: transparent;
    border: none;
}

.season-entry:hover{
    color: #071277;
    background-color: #FBA537;
}

.game-container{
    overflow: scroll;
}

.game-info-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    color: white;
    font-size: 1vmax;
    cursor:pointer;
    background-color: transparent;
    border: none;
}

.game-info-container:hover{
    color: #071277;
    background-color: #FBA537;
}

/* Main Grid */

/* Grid */

.grid-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: .5vmax;
    z-index: -1;
    background-color: black;
}

.one{
    grid-row: 2;
}

.two{
    grid-row: 3;
}

.three{
    grid-row: 4;
}

.four{
    grid-row: 5;
}

.five{
    grid-row: 6;
}


/* Grid Elements */

.category-container{
    background-color: #071277;
    grid-row: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: .1fr 1fr .1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.comment-marker{
    width: 1vw;
    height: 2.5vh;
    text-align: center;
    font-size: 1vmax;
    text-transform: uppercase;
    font-family: Impact, sans-serif;
    color: white;
    display: grid;
    border-left: solid .2vmax black;
    border-bottom: solid .2vmax black;
    grid-area: 1 / 4 / 1 / 4;
    cursor: pointer;
    z-index: 5;
}

.comment-marker:hover + .comment {
    display: grid;
}

.comment{
    display: none;
    font-size: 1.5vmax;
    text-transform: uppercase;
    font-family: Impact, sans-serif;
    color: white;
    text-shadow: 5px 3px 1.5px black;
    grid-area: 1 / 1 / end / end;
    text-align: center;
    place-items: center stretch;
    z-index: 4;
    background-color: #071277;
    padding: 5px;
}

.category{
    font-size: 2vmax;
    text-transform: uppercase;
    font-family: Impact, sans-serif;
    color: white;
    text-shadow: 5px 3px 1.5px black;
    letter-spacing: .05rem;
    grid-area: 1 / 1 / end / end;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 3px;
}

.question{
    font-family: Impact, sans-serif;
    font-size: 2.5vw;
    color: #d69f4c;
    text-shadow: 5px 3px 1.5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    background-color: #071277;
}

.question:hover{
    color:white;
}

.activated{
    background-color: #0712777c;
}

.selected{
    color: white;
    background-color: #FBA537;
}

/* CLUE SCREEN */

.clue-screen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #071277;
    z-index: 1;
    display: none;
}

.clue-clue{
    width: 75vw;
    height: 75vh;
    display: grid;
    color: white;
    font-size: 5vmax;
    text-shadow: .4vmax .25vmax .1vmax black;
    font-family: Georgia, serif;
    text-transform: uppercase;
    overflow: hidden;
    align-items: center;
    justify-self: center;
    text-align: center;
}

.main-button{
    position: fixed;
    bottom: 5vh;
    right: 40vw;
    width: 20vw;
    height: 7vh;
    margin: 0px;
    align-self: start;
    justify-self: center;
    font-family: Georgia, serif;
    font-size: 2vmin;
    color: white;
    text-shadow: 5px 3px 1.5px black;
    cursor:pointer;
    background-color: transparent;
    border: solid .3vmax white;
}

.main-button-active{
    border: solid .3vmax #FBA537;
    color: #FBA537;
}

.player-buzz-container{
    margin-left: 1vw;
    position: fixed;
    top: 5vh;
    width:7vw;
    row-gap: 2vh;
    display: grid;
    grid-template-rows: repeat(6, 7vh);
}

.player-buzz-container > *{
    display: grid;
    text-align: center;
    align-items: center;
    width: 8vw;
    height: 5vh;
    font-family: Georgia, serif;
    font-size: 3vmin;
    color: white;
    text-shadow: 5px 3px 1.5px black;
    background-color: transparent;
    border: solid .3vmax white;
}

.player-icon{
    overflow: hidden;
    text-transform: uppercase;
    visibility: hidden;
    transition-property: transform;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    grid-row:6;
}

.buzz-animate{
    transform: translate(-100%);
    -webkit-transform: translate(-100%);  
}

.main-button:hover{
    color: #FBA537;
    border: solid .3vmax #FBA537;
}

/* BUZZER BAR FORMATING */

.round-time-bar div {
    position: fixed;
    right:-100%; left:-100%;
    bottom: 13vh;
    margin:auto;
    z-index:0;
    width: 60vw;
    height: 3vh;
    background: white;
}

.round-time-bar div {
    /* ... */
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
    transform-origin: center;
}

@keyframes roundtime {
    to {
      /* More performant than animating `width` */
      transform: scaleX(.0001);
    }
}

/* Score Box */

.player-score-container {
    right: 3vw;
    position: fixed;
    top: 5vh;
    row-gap: 2vh;
    display: none;
    grid-template-rows: repeat(6, 7vh);
}

.score-row{
    display: grid;
    width: 16vw;
    height: 5vh;
    font-family: Georgia, serif;
    font-size: 3vmin;
    color: white;
    text-shadow: 5px 3px 1.5px black;
    background-color: transparent;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
}

.score-name{
    grid-column: 1;
    overflow: hidden;
    text-transform: uppercase;
    justify-self: start;
}

.score-value{
    grid-column: 2;
    text-transform: uppercase;
    justify-self: end;
}